<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638211769101-5ev4m3lmh88hceq4jeaf4mt9u7l1ui2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638211769101-5ev4m3lmh88hceq4jeaf4mt9u7l1ui2q</string>
	<key>API_KEY</key>
	<string>AIzaSyDwqVkauWmWMWoIjB5bSefUs4rCCWvI0p0</string>
	<key>GCM_SENDER_ID</key>
	<string>638211769101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.BharatSetu</string>
	<key>PROJECT_ID</key>
	<string>bharatsetu-fff19</string>
	<key>STORAGE_BUCKET</key>
	<string>bharatsetu-fff19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638211769101:ios:c6764e7a1b8b7896f76644</string>
</dict>
</plist>